.board {
  width: 450px;
  height: calc(100vh - 80px);
  min-height: 680px;
  overflow: auto;

  &__title {
    text-align: center;
  }

  &__error {
    text-align: center;
    color: red;
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  .board {
    display: none;
  }
}
